Repository credfeto/credfeto-extensions-linq, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-extensions-linq, credfeto-extensions-linq-benchmarks, credfeto-extensions-linq-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-extensions-linq":
 - any: [ 'src/$Credfeto.Extensions.Linq/**/*' ]
"credfeto-extensions-linq-benchmarks":
 - any: [ 'src/$Credfeto.Extensions.Linq.Benchmarks/**/*' ]
"credfeto-extensions-linq-tests":
 - any: [ 'src/$Credfeto.Extensions.Linq.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.46.804
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.58
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.47.806
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/build-tools/action.yml
  .github/actions/build-tools/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

Changelog for 1.0.59
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.48.810
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.60
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.49.812
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.61
  CHANGELOG.md
Labels: Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.50.814
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.62
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Microsoft.Sbom.Targets (Software Bill Of Materials) to 3.0.1
  CHANGELOG.md
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.53.833
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Benchmarks/Credfeto.Extensions.Linq.Benchmarks.csproj
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.51.818
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.63
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.52.820
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.185
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Benchmarks/Credfeto.Extensions.Linq.Benchmarks.csproj
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit (Test Infrastructure) to 2.9.3
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.64
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.53.824
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/todos.yml
  .github/workflows/todos.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.19.0
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.runner.visualstudio (Test Infrastructure) to 3.0.1
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.186
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Benchmarks/Credfeto.Extensions.Linq.Benchmarks.csproj
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.5.0.109200
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Benchmarks/Credfeto.Extensions.Linq.Benchmarks.csproj
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/dotnet-version.yml
  .github/workflows/dotnet-version.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-sql.yml
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-yaml.yml
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

SDK - Updated DotNet SDK to 9.0.102
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none
