Repository credfeto/credfeto-extensions-linq, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-extensions-linq, credfeto-extensions-linq-benchmarks, credfeto-extensions-linq-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-extensions-linq":
 - any: [ 'src/$Credfeto.Extensions.Linq/**/*' ]
"credfeto-extensions-linq-benchmarks":
 - any: [ 'src/$Credfeto.Extensions.Linq.Benchmarks/**/*' ]
"credfeto-extensions-linq-tests":
 - any: [ 'src/$Credfeto.Extensions.Linq.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.9.0.115408
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Benchmarks/Credfeto.Extensions.Linq.Benchmarks.csproj
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.200
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Benchmarks/Credfeto.Extensions.Linq.Benchmarks.csproj
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.201
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Benchmarks/Credfeto.Extensions.Linq.Benchmarks.csproj
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.v3 (Test Infrastructure) to 2.0.2
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.0.1124
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Benchmarks/Credfeto.Extensions.Linq.Benchmarks.csproj
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/save-secret-as-file/action.yml
  .github/actions/save-secret-as-file/action.yml
Labels: none

[Dependencies] Updating Microsoft.Sbom.Targets (Software Bill Of Materials) to 4.0.2
  CHANGELOG.md
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/save-secret-as-file/action.yml
  .github/actions/save-secret-as-file/action.yml
Labels: none

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

SDK - Updated DotNet SDK to 9.0.300
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating Microsoft.VisualStudio.Threading.Analyzers (Code analysis) to 17.14.15
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Benchmarks/Credfeto.Extensions.Linq.Benchmarks.csproj
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.82.1120
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.91
  CHANGELOG.md
Labels: Change Log, Markdown

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.83.1123
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.92
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.84.1127
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Sbom.Targets (Software Bill Of Materials) to 4.0.3
  CHANGELOG.md
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.93
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.85.1130
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.94
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.86.1132
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.95
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.87.1134
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.10.0.116381
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Benchmarks/Credfeto.Extensions.Linq.Benchmarks.csproj
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

Foreach linq extension
  src/Credfeto.Extensions.Linq.Tests/EnumerableExtensionsTests.cs
  src/Credfeto.Extensions.Linq/EnumerableExtensions.cs
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

Cleanup: EnumerableExtensionsTests.cs
  src/Credfeto.Extensions.Linq.Tests/EnumerableExtensionsTests.cs
Labels: none
