Repository credfeto/credfeto-extensions-linq, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-extensions-linq, credfeto-extensions-linq-benchmarks, credfeto-extensions-linq-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Build Props] Updated src/CodeAnalysis.ruleset
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

Changelog for 1.0.36
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.1.24.699
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/todos.yml
  .github/workflows/todos.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Actions] Updated .github/actions/database-deploy/action.yml
  .github/actions/database-deploy/action.yml
Labels: none

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/sql/action.yml
  .github/actions/sql/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

.net 9
  src/Credfeto.Extensions.Linq.Benchmarks/Credfeto.Extensions.Linq.Benchmarks.csproj
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.180
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Benchmarks/Credfeto.Extensions.Linq.Benchmarks.csproj
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.NET.Test.Sdk (Test Infrastructure) to 17.12.0
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.1.25.705
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.37
  CHANGELOG.md
Labels: Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.1.26.710
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.38
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.1.27.712
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.28.714
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.39
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.29.716
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.40
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.30.718
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.0.41
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.31.720
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

Changelog for 1.0.42
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.32.723
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.181
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Benchmarks/Credfeto.Extensions.Linq.Benchmarks.csproj
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-extensions-linq":
 - any: [ 'src/$Credfeto.Extensions.Linq/**/*' ]
"credfeto-extensions-linq-benchmarks":
 - any: [ 'src/$Credfeto.Extensions.Linq.Benchmarks/**/*' ]
"credfeto-extensions-linq-tests":
 - any: [ 'src/$Credfeto.Extensions.Linq.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
