Repository credfeto/credfeto-extensions-linq, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-extensions-linq, credfeto-extensions-linq-benchmarks, credfeto-extensions-linq-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.71.984
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

Changelog for 1.0.80
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.74.984
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Benchmarks/Credfeto.Extensions.Linq.Benchmarks.csproj
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.265.1215
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
Labels: C# Project, Change Log, Markdown

xUnit.v3
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
Labels: C# Project

Cleanup: Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
Labels: C# Project

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/update-labels.yml
  .github/workflows/update-labels.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/todos.yml
  .github/workflows/todos.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.190
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Benchmarks/Credfeto.Extensions.Linq.Benchmarks.csproj
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/missing-releases.yml
  .github/workflows/missing-releases.yml
Labels: github-actions

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.191
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Benchmarks/Credfeto.Extensions.Linq.Benchmarks.csproj
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.192
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Benchmarks/Credfeto.Extensions.Linq.Benchmarks.csproj
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.193
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Benchmarks/Credfeto.Extensions.Linq.Benchmarks.csproj
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
  src/Credfeto.Extensions.Linq/Credfeto.Extensions.Linq.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.21.0
  CHANGELOG.md
  src/Credfeto.Extensions.Linq.Tests/Credfeto.Extensions.Linq.Tests.csproj
Labels: C# Project, Change Log, Markdown

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-extensions-linq":
 - any: [ 'src/$Credfeto.Extensions.Linq/**/*' ]
"credfeto-extensions-linq-benchmarks":
 - any: [ 'src/$Credfeto.Extensions.Linq.Benchmarks/**/*' ]
"credfeto-extensions-linq-tests":
 - any: [ 'src/$Credfeto.Extensions.Linq.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
